<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="properties/db.properties"/>

    <!--设置日志实现-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <package name="cn.TrueNine.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="cn.TrueNine.mapper.TeacherMapper"/>
        <mapper resource="cn/TrueNine/mapperXML/TeacherMapper.xml"/>
        <mapper class="cn.TrueNine.mapper.StudentMapper"/>
        <mapper resource="cn/TrueNine/mapperXML/StudentMapper.xml"/>
    </mappers>
</configuration>